name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Java 8
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-8-jdk
        sudo update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
        sudo update-alternatives --set javac /usr/lib/jvm/java-8-openjdk-amd64/bin/javac
    
    - name: Build
      run: |
        echo "Java version:"
        java -version
        echo "Javac version:"
        javac -version
        mvn --version
        mvn clean compile
